* body {
    box-sizing: border-box;
}

#container {
    height: 960px;
    width: 960px;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
}

div.gridsquare {
    border: 1px solid black;
    height: 25%;
}

.row {
    flex: 1;
}
